.animate__animated {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: bold;
  font-family: Brush Script MT;
  font-size: -webkit-xxx-large;
}

.menuCover {
  width: 350px;
  height: 350px;
}

.nav-link {
  color: brown;
  margin-bottom: 30px;
}


.submitBtn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-control-prev {
  width: 5%;
}

.carousel-control-next {
  width: 5%;
}

a{
  margin-right: 15px;
}

.courses {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.breakfastimg {
  width: 300px;
  height: 300px;
}

.courseimg {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

figcaption {
  display: flex;
  justify-content: center;
}





*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.container{
  background: url(images/photo-1516211697506-8360dbcfe9a4.avif) no-repeat center;
  background-size: cover;
  padding: 100px 40px;
  text-align: center;
  color: brown;
  margin-top: 2%;
  margin-bottom: 2%;
}
.container p {
  max-width: 600px;
  margin: 40px auto;
  font-size: 15px;
  font-weight: 300;
}
.email-box{
  height: 40px;
  justify-content: center;
  display: inline-flex; /*its better to use inline-flex*/
}
.email-box i{
  background: #2f3542;
  width: 40px;
  line-height: 40px;
}
.tbox,.btn{
  border: none;
  outline: none;
}
.tbox{
  width: 0px;
  transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus{
  width: 260px;
  padding: 0 10px;
}
.btn{
  background: #2f3542;
  color: brown;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}


.recipestitle {
display: flex;
justify-content: center;
font-weight: bold;
}

.recipeimg {
height: 75%;
display: block;
margin-left: auto;
margin-right: auto;
width: 75%;
margin-bottom: 2%;
}

body {
background-color: antiquewhite;
}

.removedot {
list-style-type: none;
display: flex;
margin: 30px;
}

.dotimg {
width: 500px;
height: 500px;
}