.animate__animated {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.menuCover {
    width: 350px;
    height: 350px;
}

.nav-link {
    color: brown;
    margin-bottom: 30px;
}
